@model SHY.Web.Models.FooterViewModel
<div class="footer">
    @*<div class="footer-top">
        <div class="container">
            <div class="latter">
                <h6>Đăng ký nhận thư</h6>
                <div class="sub-left-right">
                    <form>
                        <input type="text" placeholder="Nhập email tại đây" />
                        <input type="submit" value="Gửi" />
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="latter-right">
                <p>Theo dõi:</p>
                <ul class="face-in-to">
                    <li><a href="#"><span> </span></a></li>
                    <li><a href="#"><span class="facebook-in"> </span></a></li>
                    <div class="clearfix"> </div>
                </ul>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>*@
    <div class="footer-bottom">
        <div class="container">
            @Html.Raw(Model.Content)
            @*<h4>ĐỒ GỖ NỘI THẤT THU THẢO</h4>
            <p>Địa chỉ: 631/1 Lê Đức Thọ, Phường 16, Quận Gò Vấp, TP.HCM</p>
            <p>Điện thoại: 0166.3606.351 - 0988.233.029</p>
            <p>
                Chuyên bán sỉ và lẻ
                Gỗ Sồi - Xoan Đào
                Giường - tủ - kệ - bàn ghế - bàn phấn....
            </p>*@
        </div>
    </div>
</div>