@using Microsoft.AspNet.Identity;
<div class="header">
    <div class="top-header">
        <div class="container">
            <div class="top-header-left">
                <ul class="support">
                    <li><a href="/"><i class="fa fa-home"></i></a></li>
                    <li><a href="/"><span class="live"> Trang chủ</span></a></li>
                </ul>
                <ul class="support">
                    <li class="van"><a href="#"><i class="fa fa-table"></i></a></li>
                    <li><a href="#">Sản phẩm <span class="live"></span></a></li>
                </ul>
                <ul class="support">
                    <li class="van"><a href="#"><i class="fa fa-newspaper-o"></i></a></li>
                    <li><a href="#">Tin tức <span class="live"></span></a></li>
                </ul>
                <ul class="support">
                    <li><a href="#"><i class="fa fa-book"></i></a></li>
                    <li><a href="trang/gioi-thieu.html">Giới thiệu</a></li>
                </ul>
                <ul class="support">
                    <li><a href="#"><i class="fa fa-phone"></i></a></li>
                    <li><a href="/lien-he.html">Liên hệ</a></li>
                </ul>
                <div class="clearfix"> </div>
            </div>
            <div class="top-header-right">
                <div class="down-top">
                    <i class="fa fa-facebook"></i>
                </div>
                <div class="down-top top-down">
                    <i class="fa fa-youtube"></i>
                </div>
                <div class="down-top top-down">
                    <i class="fa fa-google-plus"></i>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="bottom-header">
        <div class="container">
            <div class="header-bottom-left">
                <div class="logo">
                    <a href="/"><img src="~/Assets/client/images/logo01.png" alt="Đồ gỗ nội thất Thu Thảo" height="60" /></a>
                </div>
                <div class="search">
                    <form method="get" action="/tim-kiem.html">
                        <input type="text" id="txtKeyword" name="keyword" placeholder="Từ khóa">
                        <input type="submit" value="Tìm kiếm" id="btnSearch">
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
            
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
